/* RUBIK */

@font-face {
    font-family: "Rubik-Regular";
    font-style: normal;
    font-weight: 400;
    src: 
         url("./fonts/Rubik/Rubik-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Rubik-Medium";
    font-style: normal;
    font-weight: 500;
    src: 
         url("./fonts/Rubik/Rubik-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "Rubik-Bold";
    font-style: normal;
    font-weight: 700;
    src: 
         url("./fonts/Rubik/Rubik-Bold.ttf") format('truetype');
}


